`Анонимные функции` (или lambda expressions) — это функции, которые не имеют имени и определяются в месте их использования. Они особенно полезны для краткости и удобства, когда Вам нужно передать простую функцию в качестве параметра или использовать её в выражении.

In [4]:
val add = (x: Int, y: Int) => (x * y) * 2
add(5, 8)

add = > Int = $Lambda$2083/0x0000000840c7d840@407876a0

80

In [5]:
// Применение анонимной функции к каждому элементу списка:
val numbers = List(1, 2, 3, 4, 5)
val doubled = numbers.map(x => x * 2)
println(doubled)  // List(2, 4, 6, 8, 10)

List(2, 4, 6, 8, 10)

numbers = List(1, 2, 3, 4, 5)
doubled = List(2, 4, 6, 8, 10)

List(2, 4, 6, 8, 10)

In [7]:
// полная версия синтаксиса
val doubled = numbers.map( (x: Int) => {x * 2} )

doubled = List(2, 4, 6, 8, 10)

List(2, 4, 6, 8, 10)

In [8]:
// сокращенная версия синтаксиса
val doubled = numbers.map(_ * 2)

doubled = List(2, 4, 6, 8, 10)

List(2, 4, 6, 8, 10)

In [16]:
val numbers = List(1, 2, 3, 4, 5)

val result = numbers
  .filter(_ % 2 == 1)        // Оставляем только нечётные числа (1, 3, 5)
  .map(x => x * x)           // Возводим их в квадрат (1, 9, 25)
  .reduce((x, y) => x + y)   // Складываем квадраты (35)

println(result)

35

numbers = List(1, 2, 3, 4, 5)
result = 35

35

In [ ]:
// val addOne = _ + 1