In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession,DataFrame
from pyspark import StorageLevel
from pyspark.sql.functions import col, round, to_date, year, month, sum, avg

conf = (
     SparkConf()
    .setAppName('Simple_Spark')
    .setMaster('local[*]')
)


# Spark сессия
spark = (
    SparkSession
    .builder
    .config(conf=conf)
    # .enableHiveSupport()
    .getOrCreate()
)

24/09/18 23:00:30 WARN Utils: Your hostname, antonio-f513 resolves to a loopback address: 127.0.1.1; using 192.168.100.11 instead (on interface wlo1)
24/09/18 23:00:30 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/18 23:00:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# создаем df
data = [(i, f"employe_name_{i}") for i in range(120)]

In [3]:
employe_name = [(i[0], i[1], f"{i[1]}@yandex.ru") for i in data]
df2 = spark.createDataFrame(employe_name, ["id", "name", "email"])
df2.show(3, 100, False)

+---+--------------+------------------------+
| id|          name|                   email|
+---+--------------+------------------------+
|  0|employe_name_0|employe_name_0@yandex.ru|
|  1|employe_name_1|employe_name_1@yandex.ru|
|  2|employe_name_2|employe_name_2@yandex.ru|
+---+--------------+------------------------+
only showing top 3 rows

In [6]:
list_city_all = [(1, 'Австрия'),
 (2, 'Бельгия'),
 (3, 'Великобритания'),
 (4, 'Германия'),
 (5, 'Ирландия'),
 (6, 'Лихтенштейн'),
 (7, 'Нидерладны'),
 (8, 'Франция'),
 (9, 'Белоруссия'),
 (10, 'Болгария'),
 (11, 'Польша'),
 (12, 'Чехия'),
 (13, 'Албания'),
 (14, 'Босния и Герцеговина'),
 (15, 'Северная Македония'),
 (16, 'Сербия'),
 (11, 'Австрия'),
 (12, 'Бельгия'),
 (13, 'Великобритания'),
 (14, 'Германия'),
 (15, 'Ирландия'),
 (16, 'Лихтенштейн'),
 (17, 'Нидерладны'),
 (18, 'Франция'),
 (19, 'Белоруссия'),
 (20, 'Болгария'),
 (21, 'Польша'),
 (22, 'Чехия'),
 (23, 'Албания'),
 (24, 'Босния и Герцеговина'),
 (25, 'Северная Македония'),
 (26, 'Сербия'),
 (27, 'Австрия'),
 (28, 'Бельгия'),
 (29, 'Великобритания'),
 (30, 'Германия'),
 (31, 'Ирландия'),
 (32, 'Лихтенштейн'),
 (33, 'Нидерладны'),
 (34, 'Франция'),
 (35, 'Белоруссия'),
 (36, 'Болгария'),
 (37, 'Польша'),
 (38, 'Чехия'),
 (39, 'Албания'),
 (40, 'Босния и Герцеговина'),
 (41, 'Северная Македония'),
 (42, 'Сербия'),
 (51, 'Австрия'),
 (52, 'Бельгия'),
 (53, 'Великобритания'),
 (54, 'Германия'),
 (55, 'Ирландия'),
 (56, 'Лихтенштейн'),
 (57, 'Нидерладны'),
 (58, 'Франция'),
 (59, 'Белоруссия'),
 (60, 'Болгария'),
 (61, 'Польша'),
 (62, 'Чехия'),
 (63, 'Албания'),
 (64, 'Босния и Герцеговина'),
 (65, 'Северная Македония'),
 (66, 'Сербия'),
 (69, 'Австрия'),
 (70, 'Бельгия'),
 (71, 'Великобритания'),
 (72, 'Германия'),
 (73, 'Ирландия'),
 (74, 'Лихтенштейн'),
 (75, 'Нидерладны'),
 (76, 'Франция'),
 (77, 'Белоруссия'),
 (78, 'Болгария'),
 (79, 'Польша'),
 (80, 'Чехия'),
 (81, 'Албания'),
 (82, 'Босния и Герцеговина'),
 (83, 'Северная Македония'),
 (84, 'Сербия'),
 (86, 'Австрия'),
 (87, 'Бельгия'),
 (88, 'Великобритания'),
 (89, 'Германия'),
 (90, 'Ирландия'),
 (91, 'Лихтенштейн'),
 (92, 'Нидерладны'),
 (93, 'Франция'),
 (94, 'Белоруссия'),
 (95, 'Болгария'),
 (96, 'Польша'),
 (97, 'Чехия'),
 (98, 'Албания'),
 (99, 'Босния и Герцеговина'),
 (100, 'Северная Македония'),
 (101, 'Сербия')]

In [7]:
# страна
df3 = spark.createDataFrame(list_city_all, ["id", "city"])
df3.show(5, 100, False)

+---+--------------+
| id|          city|
+---+--------------+
|  1|       Австрия|
|  2|       Бельгия|
|  3|Великобритания|
|  4|      Германия|
|  5|      Ирландия|
+---+--------------+
only showing top 5 rows

In [8]:
# join
df4 = (
df2.alias("df2")
.join(df3.alias("df3"), df2.id == df3.id, "left")
.select(col("df2.id"), 
        col("df2.name"),
        col("df2.email"), 
        col("df3.city")
       )
    .orderBy("id")
)

In [9]:
df4.show(5, 100, False)

+---+--------------+------------------------+--------------+
| id|          name|                   email|          city|
+---+--------------+------------------------+--------------+
|  0|employe_name_0|employe_name_0@yandex.ru|          NULL|
|  1|employe_name_1|employe_name_1@yandex.ru|       Австрия|
|  2|employe_name_2|employe_name_2@yandex.ru|       Бельгия|
|  3|employe_name_3|employe_name_3@yandex.ru|Великобритания|
|  4|employe_name_4|employe_name_4@yandex.ru|      Германия|
+---+--------------+------------------------+--------------+
only showing top 5 rows

In [126]:
df4.count()

126

In [73]:
# возраст и дата регистрации
import random
import math
from datetime import timedelta, datetime
from dateutil.relativedelta import relativedelta

# случайным образом вычисляем возраст из диапазона
res_age = []
id = 0
for j in range(126):
    id+=1
    res_age.append((id, random.randint(18, 95)))

# берем значение возраста, вычисляем 20 % , это и будет датой регистрации
res_age_date = []
now = datetime.now()
for i in res_age:
    myear = (math.ceil((i[1] / 100) * 20))
    res_age_date.append((i[0], i[1], (now - relativedelta(years=myear)).strftime("%Y-%m-%d")))

In [75]:
df5 = spark.createDataFrame(res_age_date, ["id", "age", "date_reg"])
df5.show(5, 100, False)

+---+---+----------+
| id|age|  date_reg|
+---+---+----------+
|  1| 57|2012-09-18|
|  2| 50|2014-09-18|
|  3| 68|2010-09-18|
|  4| 58|2012-09-18|
|  5| 89|2006-09-18|
+---+---+----------+
only showing top 5 rows

In [76]:
# join
df6 = (
df4.alias("df4")
.join(df5.alias("df5"), df4.id == df5.id, "left")
.select(col("df4.id"), 
        col("df4.name"),
        col("df4.email"), 
        col("df4.city"),
        col("df5.age"), 
        col("df5.date_reg")
       )
    .orderBy("id")
)
df6.show(5, 100, False)

+---+--------------+------------------------+--------------+----+----------+
| id|          name|                   email|          city| age|  date_reg|
+---+--------------+------------------------+--------------+----+----------+
|  0|employe_name_0|employe_name_0@yandex.ru|          NULL|NULL|      NULL|
|  1|employe_name_1|employe_name_1@yandex.ru|       Австрия|  57|2012-09-18|
|  2|employe_name_2|employe_name_2@yandex.ru|       Бельгия|  50|2014-09-18|
|  3|employe_name_3|employe_name_3@yandex.ru|Великобритания|  68|2010-09-18|
|  4|employe_name_4|employe_name_4@yandex.ru|      Германия|  58|2012-09-18|
+---+--------------+------------------------+--------------+----+----------+
only showing top 5 rows

In [77]:
# зарплата
res_2 = []
id_2 = 0
for j in range(126):
    id_2+=1
    res_2.append((id_2, random.randint(1000, 4000)))

In [78]:
df_salary = spark.createDataFrame(res_2, ["id", "salary"])
df_salary.show(5, 100, False)

+---+------+
| id|salary|
+---+------+
|  1|  1561|
|  2|  2179|
|  3|  3675|
|  4|  2105|
|  5|  3116|
+---+------+
only showing top 5 rows

In [82]:
# finaly join
df_all = (
df6.join(df_salary, "id", "left")
    .select(col("id"), 
        col("name"),
        col("email"), 
        col("city"),
        col("age"),
        col("salary",),
        col("date_reg")
       )
    .orderBy("id")
)

df_all.show(25, 100, False)

+---+---------------+-------------------------+--------------------+----+------+----------+
| id|           name|                    email|                city| age|salary|  date_reg|
+---+---------------+-------------------------+--------------------+----+------+----------+
|  0| employe_name_0| employe_name_0@yandex.ru|                NULL|NULL|  NULL|      NULL|
|  1| employe_name_1| employe_name_1@yandex.ru|             Австрия|  57|  1561|2012-09-18|
|  2| employe_name_2| employe_name_2@yandex.ru|             Бельгия|  50|  2179|2014-09-18|
|  3| employe_name_3| employe_name_3@yandex.ru|      Великобритания|  68|  3675|2010-09-18|
|  4| employe_name_4| employe_name_4@yandex.ru|            Германия|  58|  2105|2012-09-18|
|  5| employe_name_5| employe_name_5@yandex.ru|            Ирландия|  89|  3116|2006-09-18|
|  6| employe_name_6| employe_name_6@yandex.ru|         Лихтенштейн|  23|  1571|2019-09-18|
|  7| employe_name_7| employe_name_7@yandex.ru|          Нидерладны|  72|  1081|2009-09-18|
|  8| employe_name_8| employe_name_8@yandex.ru|             Франция|  42|  2440|2015-09-18|
|  9| employe_name_9| employe_name_9@yandex.ru|          Белоруссия|  90|  3080|2006-09-18|
| 10|employe_name_10|employe_name_10@yandex.ru|            Болгария|  68|  1341|2010-09-18|
| 11|employe_name_11|employe_name_11@yandex.ru|             Австрия|  30|  2391|2018-09-18|
| 11|employe_name_11|employe_name_11@yandex.ru|              Польша|  30|  2391|2018-09-18|
| 12|employe_name_12|employe_name_12@yandex.ru|             Бельгия|  92|  3457|2005-09-18|
| 12|employe_name_12|employe_name_12@yandex.ru|               Чехия|  92|  3457|2005-09-18|
| 13|employe_name_13|employe_name_13@yandex.ru|      Великобритания|  49|  1674|2014-09-18|
| 13|employe_name_13|employe_name_13@yandex.ru|             Албания|  49|  1674|2014-09-18|
| 14|employe_name_14|employe_name_14@yandex.ru|            Германия|  39|  3367|2016-09-18|
| 14|employe_name_14|employe_name_14@yandex.ru|Босния и Герцеговина|  39|  3367|2016-09-18|
| 15|employe_name_15|employe_name_15@yandex.ru|            Ирландия|  58|  3522|2012-09-18|
| 15|employe_name_15|employe_name_15@yandex.ru|  Северная Македония|  58|  3522|2012-09-18|
| 16|employe_name_16|employe_name_16@yandex.ru|         Лихтенштейн|  44|  2907|2015-09-18|
| 16|employe_name_16|employe_name_16@yandex.ru|              Сербия|  44|  2907|2015-09-18|
| 17|employe_name_17|employe_name_17@yandex.ru|          Нидерладны|  95|  2608|2005-09-18|
| 18|employe_name_18|employe_name_18@yandex.ru|             Франция|  59|  3910|2012-09-18|
+---+---------------+-------------------------+--------------------+----+------+----------+
only showing top 25 rows